@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* staring Common styles */
body{
  font-family: 'Poppins', sans-serif;
  background: #F3F1FF;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container{
  background: #fff;
  width: 870px;
  /* height: 679px; */
  border-radius: 5px;
  padding: 30px;
  
}
/* ending Common styles */

/* starting top player section */
.section-title{
  color: #562EFF;
  font-size: 24px;
  line-height: 36px;
  margin-top: 3px;
}

.players{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 30px 0;
}
.players .player{
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.players .player img{
  width: 56px;
  height: 56px;
}
.top-players .players-name{
  margin-left: 15px;
}
hr{
  margin: 30px 0;
}
/* ending top player section */

/* starting top blog section */
.blogs{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap:10px 20px;
  
}
article{
  display: flex;
  align-items: center;
}
.blog .thumbnail img{
  width: 177px;
  height: 117px;
}
.blog-info{
  margin-left: 20px;
}
.blog-info .blog-title{
  font-size: 20px;
  font-weight: normal;
}
.blog-info .blog-author{
  color: #757575;
  font-size: 16px;
}
.blog-info .blog-author a{
  text-decoration: none;
  font-size: 16px;
  color: #562EFF;;

}
/* ending top blog section */