@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* staring Common styles */
body{
  font-family: 'Poppins', sans-serif;
  background: #F3F1FF;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container{
  background: #fff;
  width: 870px;
  height: 679px;
  border-radius: 5px;
  padding: 30px;
  
}
/* ending Common styles */

/* starting top player section */
.top-players .section-title{
  color: #562EFF;
  font-size: 24px;
  line-height: 36px;
  margin-top: 3px;
}

.players{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 30px 0;
}
.players .player{
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.players .player img{
  width: 56px;
  height: 56px;
}
.top-players .players-name{
  margin-left: 15px;
}
/* ending top player section */